@charset "utf-8";
.nav/**/
{
    font-size: 25px;
    background-color: #ddd;
    border: 1px solid;
    text-align: center;
}
.content{
    font-size: 16px;
    text-indent: 32px;
    line-height: 26px;
}
h2,p{
    color:gray;
}
/**通配选择器，可以与任何元素匹配，但会影响网页渲染的时间
{
    margin: 0px;
    padding: 0px;
    border: 0px;
}*/
a,b,big,body,caption,center,del,div,em,form,
h1,h2,h3,h4,h5,h6,header,hr,html,i,img,li,p,pre,
section,small,span,strike,strong,sub,sup,table,
tbody,td,tfoot,th,thead,tr,ul{
margin: 0px;
padding: 0px;
border: 0px;
}
.warning{
    font-size: 16px;
    background-color: #ddd;
}
#first-para{text-indent: 32px;}
/*ID选择器     使用方式<p id="first-para">*/
h1 em {color: red;}
/*后代选择器
<h1>this is a <em>sdasda</em>dsfd</h1>*/
.menu.content{
    height: 65px;
    overflow: visible !important;
}
.menu.logo{
    width: 148px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 0px;
}
h1 > strong {color: red;}/*选择子元素，使用子结合符(>)可以选择一个元素的子元素*/
h1 + p{color:red;}/*选择相邻兄弟元素，使用子结合符(+)可以选择紧接在一个元素后的元素*/
a:link{color:#FF0000;}/*定义伪类，选择器：伪类名{CSS属性}未访问的链接*/
